<!--<div id="modal-backdrop" class="hidden"></div>-->
<div id="choose-categories-modal" class="hidden">
  <div class="modal-category">

    <div id="category-header" class="modal-header">
      <h3>Choose categories</h3>
      <button type="button" id="category-close" class="modal-hide-button">&times;</button>
    </div>

    <div id="category-body" class="modal-body">

      <div id="category-types"  class="post-input-element">
        <fieldset id="category-selection-fieldset" class="post-fieldset"><!--what does the class post-fieldset do?-->
          <div>
            <input type="checkbox" name="category-type" id="search-engines" value="SearchEngines" checked><!-- I don't know if the id and value should have hyphens -->
            <label for="category-search-engines">Search Engines</label>
          </div>
          <div>
            <input type="checkbox" name="category-type" id="shopping" value="shopping" checked>
            <label for="category-shopping">Shopping</label>
          </div>
          <div>
            <input type="checkbox" name="category-type" id="games" value="games" checked>
            <label for="category-games">Games</label>
          </div><div>
            <input type="checkbox" name="category-type" id="social-media" value="SocialMedia" checked>
            <label for="category-social-media">Social Media</label>
          </div><div>
            <input type="checkbox" name="category-type" id="educational" value="Educational" checked>
            <label for="category-educational">Educationalr</label>
          </div><div>
            <input type="checkbox" name="category-type" id="interesting" value="Interesting">
            <label for="category-interesting">Interesting</label>
          </div><div>
            <input type="checkbox" name="category-type" id="streaming-sites" value="StreamingSites" checked>
            <label for="category-streaming-sites">Streaming Sites</label>
          </div><div>
            <input type="checkbox" name="category-type" id="wikis" value="Wikis">
            <label for="category-wikis">Wikis</label>
          </div><div>
            <input type="checkbox" name="category-type" id="funny" value="Funny">
            <label for="category-funny">Funny</label>
          </div>
        </fieldset>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="categ-modal-cancel" class="modal-hide-button action-button">Close</button>
      <button type="button" id="categ-modal-accept" class="action-button">Apply</button>
    </div>

  </div>

</div>
