<div id="search-something" class="hidden">
  <div class="modal-search">

    <div id="search-header" class="modal-header">
      <h3>Filters</h3>
      <button type="button" id="filter-close" class="modal-hide-button">&times;</button>
    </div>

    <div id="search-body" class="modal-body">

      <div id="search-input-words" class="post-input-element">
        <label for="post-text-input">Search by: </label>
        <input type="text" id="search-text-input"></input>
      </div>

      <div id="search-input-types"  class="post-input-element">
        <fieldset id="post-condition-fieldset" class="post-fieldset">
          <div>
            <input type="radio" name="search-type" id="search-by-title" value="title" checked>
            <label for="search-by-title">Title</label>
          </div>
          <div>
            <input type="radio" name="search-type" id="search-by-link" value="link">
            <label for="search-by-link">Link</label>
          </div>
          <div>
            <input type="radio" name="search-type" id="search-by-poster" value="poster">
            <label for="search-by-poster">Poster</label>
          </div>
        </fieldset>
      </div>

    </div>

  </div>

</div>
