<header>
  <div class="header-image-container">
    <img src="book-cover.png" alt="Site's Logo">
  </div>

  <h1 class="site-title"><a href="/">The Webs Websites Site</a></h1>

  <!-- <div  id = "square-1" class="square-shapes"></div>
  <div  id = "square-2" class="square-shapes"></div>
  <div  id = "square-3" class="square-shapes"></div>
  <div  id = "square-4" class="square-crown"></div> -->

</header>
