<nav class="navbars">
  <ul class="navlists">
    <li class="navitem"><a href="/">Categories</a></li>
    <li class="navitem" id="create-new-post">New post</li>
    <li class="navitem" id="filter-input-container">Search post</li>
  </ul>
</nav>
