<nav class="navbars">
  <ul class="navlists">
    {{#if showCategModal}}
      <li class="navitem" id=show-categories>Categories</li>
    {{/if}}
    {{#if showModal}}
      <li class="navitem" id="create-new-post">New post</li>
    {{/if}}
    {{#if showFilter}}
      <li class="navitem" id="filter-input-container">Search post</li>
    {{/if}}
  </ul>
</nav>
