<section id="posts">

  <div class="post" category="search-web">
    <div class="post-link">
      <a href="/google" class="post-title">Best Searching Webs</a>
    </div>
    <div class="direct-link">
      <a href="https://www.google.com/" target="_blank" class="link">Google</a>
    </div>
    <div class="poster-link">
      <a href="/moon" class="poster">By: Moon</a>
    </div>
  </div>

  <div class="post" category="video-web">
    <div class="post-link">
      <a href="/youtube" class="post-title">Best Video Webs</a>
    </div>
    <div class="direct-link">
      <a href="https://www.youtube.com/" target="_blank" class="link">Yotube</a>
    </div>
    <div class="poster-link">
      <a href="/zen" class="poster">By: Zen</a>
    </div>
  </div>

  <div class="post" category="streaming-web">
    <div class="post-link">
      <a href="/twitch" class="post-title">Best Streaming Webs</a>
    </div>
    <div class="direct-link">
      <a href="https://www.twitch.tv/" target="_blank" class="link">Twitch</a>
    </div>
    <div class="poster-link">
      <a href="/zen" class="poster">By: Zen</a>
    </div>
  </div>

  <div class="post" category="social-web">
    <div class="post-link">
      <a href="/facebook" class="post-title">Best Social Media Webs</a>
    </div>
    <div class="direct-link">
      <a href="https://www.facebook.com/" target="_blank" class="link">Facebook</a>
    </div>
    <div class="poster-link">
      <a href="/skywalker" class="poster">By: Skywalker</a>
    </div>
  </div>

</section>
