{{> header}}

{{#if showNavbar}}
  {{> navbar}}
{{/if}}

<main class="content">
  <section id="posts">
    {{#each postDataKey}}
      {{> posts}}
    {{/each}}
  </section>
</main>

{{#if showModal}}
  {{> modal}}
{{/if}}

{{#if showFilter}}
  {{> filter}}
{{/if}}

{{#if showCategModal}}
  {{> categModal }}
{{/if}}
