{{> header}}

{{#if showNavbar}}
  {{> navbar}}
{{/if}}

<main class="content">
  <h2 class="post-title"><em>The best social media website</em></h2>

    <p>Facebook is just so popular that it auto become number one for us. No further explanation except, your parents using it, your friend using it, your crush using it, you should start using it too.</p>
    <p>Alternative: Twitter.com, Instagram.com.</p>
</main>

{{#if showModal}}
  {{> modal}}
{{/if}}

{{#if showFilter}}
  {{> filter}}
{{/if}}
