{{> header}}

{{#if showNavbar}}
  {{> navbar}}
{{/if}}

<main class="content">
  <h2 class="post-title"><em>The best searching website</em></h2>

    <p>Google is the best searching website for sure. It has a huge data base with noob-friendly layout.</p>
    <p>Alternative: Bing.com, Yahoo.com.</p>
</main>

{{#if showModal}}
  {{> modal}}
{{/if}}

{{#if showFilter}}
  {{> filter}}
{{/if}}
