{{> header}}

{{#if showNavbar}}
  {{> navbar}}
{{/if}}

<main class="content">
  <h2 class="post-title"><em>Skywalker</em></h2>

    <p>Skywalker</p>
    <p></p>
</main>

{{#if showModal}}
  {{> modal}}
{{/if}}

{{#if showFilter}}
  {{> filter}}
{{/if}}
