{{> header}}

{{#if showNavbar}}
  {{> navbar}}
{{/if}}

<main class="content">
  <h2 class="post-title"><em>The best video website</em></h2>

    <p>Youtube is the best website for uploading personal videos, and sharing them to the world. It has a huge community with various different types of content on the platform.</p>
    <p>Alternative: Bing.com, Vimeo.com.</p>
</main>

{{#if showModal}}
  {{> modal}}
{{/if}}

{{#if showFilter}}
  {{> filter}}
{{/if}}
