body {
  font-family: 'Solway', serif;
  margin: 0;
}

.site-title a {

  color:#FF7F50;
    text-decoration: none;

   text-shadow: -1px -1px 0 #1E90FF, 1px -1px 0 #1E90FF, -1px 1px 0 #1E90FF, 1px 1px 0 #1E90FF;

}

.post a {

    color: #1E90FF;

}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #FFFFF0;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: solid;
  border-color: #1E90FF;
  border-width: 15;
    box-shadow: 0 0 0 3px #FF7F50;


}

.header-image-container {

  position: relative;
  max-width: 200px;
  max-height: 200px;
  left: 30px;

}

.header-image-container img {

  border-radius: 50%;
  width:70%;
  height:70%;
 box-shadow: 0 0 0 5px #00a2e8, 0 0 0 8px 	#ff7f26;
}

main {

  background-color:#FFFFFF;

}

body {

  background-color: #FFFFFF;
}

.site-title {
  font-family: 'Solway', serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-bottom: 100px;
}

.site-title a:hover {
  text-decoration: none;
}

.content {
  display: inline-block;
  padding: 20px;
  top: 50%;
  margin-top: -70px;
  margin-left: 62.5px;

}

.navitem {

background-color:  	#FF7F50;
color: #FFFFF0;
border-style: solid;
border-color: #1E90FF;
border-radius: 20px;
max-width: 100px;
text-align: center;
padding: 20px;
margin: 20px;
list-style-type: none;
float: left;
position: relative;
left: 200px;
bottom: 125px;

}

.navitem:hover {

  background-color: #1E90FF;

}

.navitem a{

  color: #FFFFF0;
}

.post {

  background-color:#FFFFF0;
  color:#FF7F50;
  border-style: solid;
  border-color: #1E90FF;
  border-top-right-radius: 30px;
  display: inline-block;
  vertical-align: top;
  height: 200px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 0 0 0 3px #FF7F50;

}

.hidden {

  /* display: none; */

}

#modal-backdrop {

  /* position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85); */

}

#create-new-post-modal{

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #FFFFF0;
padding:20px;

border-style: solid;
border-width: thick;
border-color: #1E90FF;
border-radius: 30px;


}
